@import 'tailwindcss';

:root {
  font-family: 'Segoe UI', system-ui, -apple-system, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  background-color: var(--color-slate-50);
  color: var(--color-slate-900);
}
